/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

/* Global*/

:root {
    --white-background: #f0f2f5;
    --White-standard: #fff;
    --header-standard: #282a36;
    --purple-card: #8257e5;
    --dark-blue: #363f5f;
    --light-blue: #969cb3;
    --red-danger: #ff5555;
    --green-standard: #50fa7b;
}

body {
    background: var(--white-background);
    font-family: "Poppins", sans-serif, Arial;
}

.sr__only {
    /* A propriedade ela não é retirada, mas sim escondida */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* Links & Buttons */
a {
    color: var(--header-standard);
    transition: 0.2s;
}

a:hover {
    color: var(--purple-card);
}

.button__transaction.new {
    display: inline-block;
    margin-bottom: .8rem;
}

/* Header */

header {
    background: var(--header-standard);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: var(--White-standard);
    font-weight: 400;
}

/* Balance */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--White-standard);
    margin-top: 0;
}

/* Cards */

.balance__card {
    background: var(--White-standard);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.balance__card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.balance__card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.balance__card--purple {
    background: var(--purple-card);
    color: var(--White-standard);
}

/* Transaction */

#data__table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--light-blue);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.5rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0 .25rem .25rem 0;
}

table thead th {
    background: var(--White-standard);
    font-weight: normal;
    padding: 1rem 2rem;
    font-weight: normal;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--White-standard);
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--green-standard);
}

td.expense {
    color: var(--red-danger);
}
/* Footer */

footer p {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6rem;
}
